*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#F8FAFC;

overflow-x:hidden;

}

a{

text-decoration:none;

}

button{

transition:.3s;

}

.card{

border:none;

border-radius:20px;

box-shadow:0 12px 30px rgba(0,0,0,.08);

}

.section{

padding:80px 0;

}

.title{

font-size:45px;

font-weight:700;

color:#151934;

}

.subtitle{

color:#666;

font-size:18px;

}